øvinger/oving-02/oppgave1/fag.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns="http://oving.hvl.no/fag"
           targetNamespace="http://oving.hvl.no/fag"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:dat="http://oving.hvl.no/fag">

	<xs:element name="hvl" type="hvlType" />
	
	<!--  Complex Types -->
	<xs:complexType name="hvlType">
		<xs:sequence>
			<xs:element name="emner" type="emnerType" minOccurs="1" maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>    
	
	<xs:complexType name="emnerType">
		<xs:sequence>
			<xs:element name="emne" type="emneType" minOccurs="1" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="emneType">
		<xs:sequence>
			<xs:element name="kode" type="kodeType" />
			<xs:element name="navn" type="navnType" />
			<xs:element name="poeng" type="poengType" />
			<xs:element name="semester" type="semesterType" />
		</xs:sequence>
	</xs:complexType>     
	
	<!--  SimpleType definitions -->
	<xs:simpleType name="kodeType">
		<xs:restriction base="xs:string">
			<xs:pattern value="['DAT','MAT','ING']{3}[0-3]{1}[0-9]{2}" />
		</xs:restriction>
	</xs:simpleType>  
	
	<xs:simpleType name="navnType">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"></xs:minLength>
			<xs:maxLength value="100"></xs:maxLength>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="poengType">
		<xs:restriction base="xs:integer">
			<xs:minInclusive value="1" />
			<xs:maxInclusive value="100" />
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="semesterType">
		<xs:restriction base="xs:integer">
			<xs:minInclusive value="1" />
			<xs:maxInclusive value="6" />
		</xs:restriction>
	</xs:simpleType>
</xs:schema>	
           